@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
/* ============================================ */
:root {
	--PrimaryBlue100: #2c3878;
	--PrimaryBlue90: #566093;
	--PrimaryBlue75: #8088ae;
	--PrimaryBlue50: #abafc9;
	--PrimaryBlue25: #d5d7e4;
	--PrimaryBlue10: #eaebf2;
	--Grayscale70: #141414;
	--Grayscale50: #333333;
	--Grayscale30: #3c3c3c;
	--Grayscale10: #9c9c9c;
	--Lightray: #d9d9d9;
}
/* ============================================ */

*,
::before,
::after {
	margin: 0;
	padding: 0;
	/* Чтобы указанные значения ширины и высоты относились ко всему элементу целиком, не только к контенту */
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000000;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	background-color: #ffffff;
	color: #000000;
	font-family: Roboto;
}
/* ===================================================== */
/* .body-wrapper {
}
.header-wrapper {
	background-color: var(--PrimaryBlue100);
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}
.company-name {
}
.telephone-number {
}
.callbackBtnWrap {
}
.callbackBtn {
}
.header-menu ul {
	list-style-type: none;
	display: flex;
	min-height: 30px;
	justify-content: center;
}
.header-menu ul li:hover {
	color: var(--PrimaryBlue100);
	background-color: white;
}
.header-menu ul li a {
	display: flex;
	font-size: 1rem;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	color: white;
	align-items: center;
}
.header-menu ul li a:hover {
	color: var(--PrimaryBlue100);
} */
/* =============================================================== */
/* .main-wrapper {
}

.slider-text {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-self: center;
}
.prev {
	position: absolute;
	left: 40px;
	z-index: 1;
	align-self: end;
}
.next {
	position: absolute;
	right: 40px;
	z-index: 1;
	align-self: end;
}
.gritting-slider h1 {
	display: flex;
	font-size: 2rem;
	color: white;
	text-align: center;
	z-index: 1;
}
.gritting-slider input {
	margin-top: 20px;
	align-self: center;
	z-index: 1;
} */
/* ============================================================== */
.gritting-slider {
	margin: 30px 50px;
	border: 2px black solid;
	/* overflow: hidden; */
}
.gritting-slider-line-wrapper {



}
.gritting-slider-line {
	display:flex;
	transition: all ease 1s;
	position: relative;
}
.slider-item{
/* display: inline; */
	position: absolute;
	/* left:0; */
	/* top:0; */
}
/* ============================== */

/* ================================ */
.category-wrapper {
	background-color: var(--Lightray);
}
.category-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
.category-card {
	min-height: 200px;
	min-width: 300px;
}
.advantages {
}
.advantage-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.advantage-item {
	min-height: 200px;
	min-width: 150;
}
.advantage-icon {
}
.promo-actions {
	background-color: var(--Lightray);
}
.promo-actions-btn {
}
.reviews {
}
.reviews-header {
}
.review {
}
.avito-link {
}
.main-callback {
}
.map {
	background-color: var(--Lightray);
}

.yandex-map-wrapper {
}
/* ===================================Футер============================================== */
footer,
footer a {
	background-color: var(--Grayscale50);
	color: var(--Grayscale10);
}
.footer-wrapper {
	display: grid;
	min-height: 200px;
	grid-template-columns: repeat(3, 1fr);
}
.footer-menu {
	display: grid;
	justify-content: center;
}
.footer-wrapper h4 {
	text-align: center;
	padding: 20px;
}
.footer-menu li {
	padding: 10px;
	list-style-type: none;
}

.footer-calback {
	display: grid;
	justify-content: center;
}
.footer-contacts {
	display: grid;
	justify-content: center;
}
.footer-contacts-item {
}
.footer-contacts-icon {
}
.messengers-icons {
}
.messenger-icon {
}
.copyright {
	display: grid;
	justify-content: center;
}
